[submodule "git/.bash-git-prompt"]
	path = tools/git/.bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
[submodule "git/.diff-so-fancy"]
	path = tools/git/.diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
[submodule "fonts/FiraCode"]
	path = fonts/FiraCode
	url = git@github.com:tonsky/FiraCode.git
	ignore = dirty
[submodule "fonts/FontAwesome"]
	path = fonts/FontAwesome
	url = git@github.com:FortAwesome/Font-Awesome.git
	ignore = dirty
[submodule "themes/base16-xresources"]
	path = themes/base16-xresources
	url = git@github.com:chriskempson/base16-xresources.git
[submodule "tools/tmux"]
	path = tools/tmux
	url = git@github.com:lulivi/.tmux.git
