[user]
    name = lulivi
    email = luislivilla@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
    template = ~/.gitcommit
[alias]
    p  = pull
    pr = pull --rebase
    b  = branch
    c  = clone
    cr = clone --recurse-submodules
    s  = status
    ss = status -s
    d  = diff
    dc = diff --cached
    lt = tag -l --sort=-creatordate --format='%(creatordate:short): %(refname:short)'
    superclean = clean -dfx
[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red bold 52
    newNormal = green
    newHighlight = green bold 22
[color "diff"]
    meta = yellow bold
    commit = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff-so-fancy]
    useUnicodeRuler = false

