[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = delta
    autocrlf = input

[interactive]
    diffFilter = delta --color-only --side-by-side

[commit]
    template = ~/.gitcommit

[pull]
    rebase = false
    ff = only

[init]
    defaultBranch = main

[alias]
    p   = pull
    pr  = pull --rebase
    b   = branch
    c   = clone
    cr  = clone --recurse-submodules
    s   = status
    ss  = status -s
    d   = diff
    dc  = diff --cached
    ch  = checkout
    chb = checkout -b
    lt  = tag -l --sort=-creatordate --format='%(creatordate:short): %(refname:short)'
    st  = log --oneline
    superclean = clean -dfx

[delta]
    line-numbers = true
    plus-style = green
    plus-emph-style = green bold 22
    minus-style = red
    minus-emph-style = red bold 52
